<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.solicitude.mapper.ElderMapper" >
  <resultMap id="BaseResultMap" type="com.example.solicitude.pojo.Elder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="blanck_space_one" property="blanckSpaceOne" jdbcType="VARCHAR" />
    <result column="blanck_space_three" property="blanckSpaceThree" jdbcType="VARCHAR" />
    <result column="blanck_space_two" property="blanckSpaceTwo" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="given_name" property="givenName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, age, blanck_space_one, blanck_space_three, blanck_space_two, company, end_time, 
    given_name, sex, start_time, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.solicitude.pojo.ElderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from elder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from elder
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from elder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.solicitude.pojo.ElderExample" >
    delete from elder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.solicitude.pojo.Elder" >
    insert into elder (id, age, blanck_space_one, 
      blanck_space_three, blanck_space_two, company, 
      end_time, given_name, sex, 
      start_time, user_id)
    values (#{id,jdbcType=BIGINT}, #{age,jdbcType=VARCHAR}, #{blanckSpaceOne,jdbcType=VARCHAR}, 
      #{blanckSpaceThree,jdbcType=VARCHAR}, #{blanckSpaceTwo,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{givenName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.solicitude.pojo.Elder" >
    insert into elder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one,
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three,
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="givenName != null" >
        given_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceOne != null" >
        #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceThree != null" >
        #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="givenName != null" >
        #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.solicitude.pojo.ElderExample" resultType="java.lang.Integer" >
    select count(*) from elder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update elder
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceOne != null" >
        blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceThree != null" >
        blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceTwo != null" >
        blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.givenName != null" >
        given_name = #{record.givenName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update elder
    set id = #{record.id,jdbcType=BIGINT},
      age = #{record.age,jdbcType=VARCHAR},
      blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=VARCHAR},
      given_name = #{record.givenName,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.solicitude.pojo.Elder" >
    update elder
    <set >
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="givenName != null" >
        given_name = #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.solicitude.pojo.Elder" >
    update elder
    set age = #{age,jdbcType=VARCHAR},
      blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      given_name = #{givenName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>